
Binaries/
Saved/
Build/
Plugins/
Intermediate/

Content/Maps/*_BuiltData.uasset

InteligentnyPistolet.VC.db
InteligentnyPistolet.VC.*
*.log
*AutoScreenshot*
.vs/
ipch/

Config/DefaultEngine.ini
Config/DefaultEngine.ini

*.zip
*.rar
*.obj